<div class="container mt-3">
  <app-header [content]="pageContent.header"></app-header>

  <table id="book" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Genre</th>
      <th scope="col">Available</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i = index" routerLink="/books/{{book._id}}">
        <td data-th="#" scope="row">{{i+1}}</td>
        <td data-th="Title">{{book.title}}</td>
        <td data-th="Author">{{book.author.firstName}}, {{book.author.lastName}}</td>
        <td data-th="Genre">{{book.genre}}</td>
        <td data-th="Available">{{book.available}}</td>
      </tr>
    </tbody>
  </table>
</div>
