<nav class="navbar navbar-expand-sm fixed-top navbar-dark">
  <div class="container">
    <a class="navbar-brand font-italic" routerLink="">Library</a>
    <button class="navbar-toggler"
            type="button" data-toggle="collapse"
            data-target="#navbar" aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="books">Books</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="create">Create</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<main class="mb-4">
  <router-outlet></router-outlet>
</main>

<footer class="page-footer text-light fixed-bottom pt-2 mt-auto">
  <div class="container mt-3">
    <div class="footer-copyright text-center py-3 font-italic">
      Copyright &copy; Library 2019
    </div>
  </div>
</footer>

