<div class="container mt-3">
  <app-header [content]="pageContent.header"></app-header>
  <div class="form-group container border rounded-lg p-2">
    <div class="form-group border rounded-lg p-2">
      <div class="row">
        <h3 class="col-12">Author:</h3>
      </div>
      <div class="row">
        <label class="col-form-label col-4 font-weight-bold">First Name:</label>
        <span class="col-4 form-control-plaintext">{{ selectedBook.author.firstName }}</span>
      </div>
      <div class="row">
        <label class="col-form-label col-4 font-weight-bold">Last Name:</label>
        <span class="col-4 form-control-plaintext">{{ selectedBook.author.lastName }}</span>
      </div>
      <div class="row">
        <label class="col-form-label col-4 font-weight-bold">Best Title:</label>
        <span class="col-4 form-control-plaintext">{{ selectedBook.author.bestTitle }}</span>
      </div>
    </div>
    <div class="form-group border rounded-lg p-2">
      <div class="row">
        <h3 class="col-12">Publisher:</h3>
      </div>
      <div class="row">
        <label class="col-form-label col-4 font-weight-bold">Name:</label>
        <span class="col-4 form-control-plaintext">{{ selectedBook.publisher.name }}</span>
      </div>
      <div class="row">
        <label class="col-form-labels col-4 font-weight-bold">City:</label>
        <span class="col-4 form-control-plaintext">{{ selectedBook.publisher.city }}</span>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <label class="col-form-label col-4 font-weight-bold">Copies Available:</label>
        <span class="col-4 form-control-plaintext">{{ selectedBook.available }}</span>
      </div>
      <div class="row">
        <label class="col-form-label col-4 font-weight-bold">Genre:</label>
        <span class="col-4 form-control-plaintext">{{ selectedBook.genre }}</span>
      </div>
      <div class="row">
        <label class="col-form-label col-4 font-weight-bold">Language:</label>
        <span class="col-4 form-control-plaintext">{{ selectedBook.language }}</span>
      </div>
      <div class="row">
        <label class="col-form-label col-4 font-weight-bold">Pages:</label>
        <span class="col-4 form-control-plaintext">{{ selectedBook.pages }}</span>
      </div>
    </div>
    <div class="row form-group pl-3 pr-3">
      <a routerLink="/update/{{selectedBook._id}}" class="btn col-sm-3 offset-sm-4" style="background-color: #020031; color: #FFFFFF">Edit</a>
    </div>
    <div class="row form-group pl-3 pr-3">
      <button class="btn btn-danger col-sm-3 offset-sm-4">Delete</button>
    </div>
  </div>
</div>
